In [1]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive/Bigfoot Data Science Project/

Mounted at /content/drive
/content/drive/.shortcut-targets-by-id/1WVWh0s9coKx-LzaErUE6N7YbcIg9B1aI/BigfootDataScienceProject

In [2]:
import pandas as pd 
import numpy as np

# Location Distribution of Sasquatch Sightings Across North America 
**Grace Graves and Isabelle Chow**

This team likely be investigating data sets related to Bigfoot (Sasquatch, Yeti, Yowie, Skunk ape, etc). 

### Collaboration Plan
We are going to meet once or twice a week to work on the project direction, discuss data organization strategies, and do research. We have a shared google colab as well as a google drive folder to store other relevant datasets/information in, as well as a current to-do list. We will utilize office hours and TA office hours over the semester weekly or biweekly. We see each other almost every morning to workout or do other ROTC activities and we will brainstorm then. We have a great working relationship and friendship so communication will be easy. We will primarily communicate over text to keep track of deadlines and progress.

In [3]:
!pwd

/content/drive/.shortcut-targets-by-id/1WVWh0s9coKx-LzaErUE6N7YbcIg9B1aI/BigfootDataScienceProject

In [4]:
!mkdir -p ./data/archive
!unzip ./data/archive.zip -d ./data/sightings

Archive:  ./data/archive.zip
replace ./data/sightings/bfro-report-locations.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [5]:
bf = pd.read_csv("./data/sightings/bfro-report-locations.csv")
bf

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.50000,-142.90000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.18720,-132.79820
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.20350,-132.82020
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.93750,-141.56670
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.05950,-149.78530
...,...,...,...,...,...,...
3805,4159,Report 4159: Campers hear unusual grunting sou...,Class C,1995-11-15T12:00:00Z,31.22333,-94.96611
3806,175,Report 175: Campers encounter large animal nea...,Class C,2000-07-30T12:00:00Z,47.47745,-121.04150
3807,945,Report 945: Creature with red glowing eyes seen,Class C,1999-03-19T12:00:00Z,47.57778,-124.29330
3808,1387,Report 1387: Father and son hear heavy footste...,Class C,1983-08-17T12:00:00Z,47.51030,-122.04560
3809,3044,Report 3044: Second-hand report of creature lo...,Class C,1975-09-10T12:00:00Z,43.98694,-91.33662

In [6]:
bf[["report #", "description", "empty"]] = bf["title"].str.split(": ", expand=True) #split the title into report number and description of sighting
bf[["date", "time"]] = bf["timestamp"].str.split("T", expand=True) #split the timestamp into date and time columns
bf[["year", "month", "day"]] = bf["date"].str.split("-", expand=True)
bf[["hour", "minute", "seconds"]] = bf["time"].str.split(":", expand=True)
bf

,number,title,classification,timestamp,latitude,longitude,report #,description,empty,date,time,year,month,day,hour,minute,seconds
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.50000,-142.90000,Report 637,Campers' encounter just after dark in the Wran...,None,2000-06-16,12:00:00Z,2000,06,16,12,00,00Z
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.18720,-132.79820,Report 2917,Family observes large biped from car,None,1995-05-15,12:00:00Z,1995,05,15,12,00,00Z
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.20350,-132.82020,Report 7963,Sasquatch walks past window of house at night,None,2004-02-09,12:00:00Z,2004,02,09,12,00,00Z
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.93750,-141.56670,Report 9317,"Driver on Alcan Highway has noon, road encount...",None,2004-06-18,12:00:00Z,2004,06,18,12,00,00Z
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.05950,-149.78530,Report 13038,Snowmobiler has encounter in deep snow near Po...,None,2004-02-15,12:00:00Z,2004,02,15,12,00,00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3805,4159,Report 4159: Campers hear unusual grunting sou...,Class C,1995-11-15T12:00:00Z,31.22333,-94.96611,Report 4159,Campers hear unusual grunting sound from behin...,None,1995-11-15,12:00:00Z,1995,11,15,12,00,00Z
3806,175,Report 175: Campers encounter large animal nea...,Class C,2000-07-30T12:00:00Z,47.47745,-121.04150,Report 175,Campers encounter large animal near Cle Elum,None,2000-07-30,12:00:00Z,2000,07,30,12,00,00Z
3807,945,Report 945: Creature with red glowing eyes seen,Class C,1999-03-19T12:00:00Z,47.57778,-124.29330,Report 945,Creature with red glowing eyes seen,None,1999-03-19,12:00:00Z,1999,03,19,12,00,00Z
3808,1387,Report 1387: Father and son hear heavy footste...,Class C,1983-08-17T12:00:00Z,47.51030,-122.04560,Report 1387,Father and son hear heavy footsteps made by an...,None,1983-08-17,12:00:00Z,1983,08,17,12,00,00Z
3809,3044,Report 3044: Second-hand report of creature lo...,Class C,1975-09-10T12:00:00Z,43.98694,-91.33662,Report 3044,Second-hand report of creature looking in at w...,None,1975-09-10,12:00:00Z,1975,09,10,12,00,00Z

In [7]:
bf["class"] = bf["classification"].map({
    "Class A": "A",
    "Class B": "B",
    "Class C": "C"
})

In [8]:
del bf["report #"]
del bf["empty"]
del bf["timestamp"]
del bf["title"]
del bf["seconds"]
del bf["date"]
del bf["time"]
del bf["classification"]

In [9]:
bf = bf[['number', 'description', 'class', 'longitude', 'latitude', 'year', 'month', 'day', 'hour', 'minute']]
bf

,number,description,class,longitude,latitude,year,month,day,hour,minute
0,637,Campers' encounter just after dark in the Wran...,A,-142.90000,61.50000,2000,06,16,12,00
1,2917,Family observes large biped from car,A,-132.79820,55.18720,1995,05,15,12,00
2,7963,Sasquatch walks past window of house at night,A,-132.82020,55.20350,2004,02,09,12,00
3,9317,"Driver on Alcan Highway has noon, road encount...",A,-141.56670,62.93750,2004,06,18,12,00
4,13038,Snowmobiler has encounter in deep snow near Po...,A,-149.78530,61.05950,2004,02,15,12,00
...,...,...,...,...,...,...,...,...,...,...
3805,4159,Campers hear unusual grunting sound from behin...,C,-94.96611,31.22333,1995,11,15,12,00
3806,175,Campers encounter large animal near Cle Elum,C,-121.04150,47.47745,2000,07,30,12,00
3807,945,Creature with red glowing eyes seen,C,-124.29330,47.57778,1999,03,19,12,00
3808,1387,Father and son hear heavy footsteps made by an...,C,-122.04560,47.51030,1983,08,17,12,00
3809,3044,Second-hand report of creature looking in at w...,C,-91.33662,43.98694,1975,09,10,12,00